
.bg-dark{
    background-color: #0288d1 !important;
}
.pad{
    padding-top: 5px;
    padding-bottom: 5px;
}
.row{
    padding-left: 10px;
}
.main-heading{
    color: #0288d1;
}
.card{
    border-radius: 10px;
}
p{
    font-size:x-large;
}
li{
    font-size:x-large; 
}
.serif {
    font-family: "Times New Roman", Times, serif;
  }
  .country-select{
      justify-items: center;
      align-items: center;
      text-align: center;
      padding-top: 20px;;
  }
.custom-select {
    border: 1px solid #0288d1;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.get-btn{
    padding-top: 10px;;
}
.btn-purple{
    color: #0288d1;
    border: 1px solid #0288d1;
}
.btn-purple:hover{
    color:white;
    background-color: #0288d1;
}

li{
    font-family: "Times New Roman", Times, serif;

}
.nav-tabs .nav-link.active {
    color: rgb(238, 221, 221);
    background-color: #0289d1d0;}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #1794d8 !important;
    color: white;
    text-align: center;
  }