.pad{
    padding-top: 5px;
    padding-bottom: 5px;
}
.row{
    padding-left: 10px;
}
p{
    font-size: large;
}
li{
    font-size: large; 
}
.serif {
    font-family: "Times New Roman", Times, serif;
  }
  .country-select{
      justify-items: center;
      align-items: center;
      text-align: center;
      padding-top: 20px;;
  }
.custom-select {
    border: 1px solid rgb(66, 11, 117);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.get-btn{
    padding-top: 10px;;
}
.btn-purple{
    color: rgba(62, 3, 80, 0.712);
    border: 1px solid rgb(61, 6, 112);
}
.btn-purple:hover{
    color:white;
    background-color: rgb(66, 11, 117);
}

li{
    font-family: "Times New Roman", Times, serif;

}